@font-face {
	font-family: 'streakclub';
	src:url('fonts/streakclub.eot?-o9ok09');
	src:url('fonts/streakclub.eot?#iefix-o9ok09') format('embedded-opentype'),
		url('fonts/streakclub.woff?-o9ok09') format('woff'),
		url('fonts/streakclub.ttf?-o9ok09') format('truetype'),
		url('fonts/streakclub.svg?-o9ok09#streakclub') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'streakclub';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e603";
}

.icon-cancel-circle:before {
	content: "\e602";
}

.icon-heart:before {
	content: "\e600";
}

.icon-link:before {
	content: "\e601";
}

