.admin_page_page {
    .admin_columns {
        display: flex;
        align-items: flex-start;
        > * {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .enum_value {
        display: inline-block;
        background: white_back();
        border: 1px solid border_color();
        border-radius: 2px;
        padding: 2px;
        margin: 0 2px;

        &[data-name=train_status][data-value=spam] {
            color: red;
            font-weight: bold;
        }

        &[data-name=train_status][data-value=ham] {
            color: green;
            font-weight: bold;
        }

        &[data-name=train_status][data-value=spam] {
            color: red;
            font-weight: bold;
        }

        &[data-name=review_status][data-value=needs_review] {
            color: $orange;
            font-weight: bold;
        }

        &[data-name=review_status][data-value=reviewed],
        &[data-name=status][data-value=resolved] // exception types
        {
            color: $blue;
        }
    }


    .spam_scan {
        [data-status=spam] {
            color: var(--sc-red);
        }

        [data-status=ham] {
            color: var(--sc-blue);
        }
    }

}


.admin_exceptions_page {
    code, pre {
        font-size: 80%;
    }

}


