.admin_page_page {

    > .tab_header {
        background: var(--sc-gray_back);
        padding-top: 4px;

        .page_tabs {
            margin-bottom: 0;
        }

        .tabs_inner {
            max-width: none;
            padding: 0 40px;
        }
    }

    .filter_form {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        align-items: flex-start;
        flex-wrap: wrap;

        > input {
            max-width: 200px;
        }

        > .enum_field {
            li {
                display: inline-block;
            }

            button {
                display: block;
                cursor: pointer;

                &.active {
                    font-weight: bold;
                    border: 2px solid var(--sc-button_color);
                }
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                max-width: 300px;
            }
        }
    }

    .admin_columns {
        display: flex;
        align-items: flex-start;
        > * {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .enum_value {
        display: inline-block;
        background: var(--sc-white_back);
        border: 1px solid var(--sc-border_color);
        border-radius: 2px;
        padding: 2px;
        margin: 0 2px;

        &[data-name=train_status][data-value=spam] {
            color: red;
            font-weight: bold;
        }

        &[data-name=train_status][data-value=ham] {
            color: green;
            font-weight: bold;
        }

        &[data-name=train_status][data-value=spam] {
            color: red;
            font-weight: bold;
        }

        &[data-name=review_status][data-value=needs_review] {
            color: var(--sc-orange);
            font-weight: bold;
        }

        &[data-name=review_status][data-value=reviewed],
        &[data-name=status][data-value=resolved] // exception types
        {
            color: var(--sc-blue);
        }
    }


    .spam_scan {
        [data-status=spam] {
            color: var(--sc-red);
        }

        [data-status=ham] {
            color: var(--sc-blue);
        }
    }

}


.admin_exceptions_page {
    code, pre {
        font-size: 80%;
    }

}


