
.audio_sticky_player {
    z-index: 10;
    position: fixed;
    box-shadow: 0 -1px 0 rgba($border_color, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    box-sizing: border-box;
    height: $header_height;
    background: white;
    justify-content: center;

    > * {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }

    display: flex;
    align-items: center;

    > button {
        border: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;
        background: none;
        color: $body_color_light;
        cursor: pointer;
        &:not([disabled]):hover {
            color: $body_color;
        }

        &:active {
            .svgicon {
                transform-origin: 50% 50%;
                transform: scale(0.9, 0.9);
            }
        }
    }

    .toggle_play_button {
        &[disabled], &.loading {
            opacity: 0.3;
            cursor: default;
        }
    }

    .toggle_tracklist_button {
        &.active {
            background: $button_color;
            border-radius: 2px;
            color: white;
            &:hover {
                color: white;
            }
        }
    }

    .slider_input {
        width: 100%;

        &.disabled {
            .slider_nub {
                display: none;
            }
        }
    }

    .track_area {
        min-width: 0;
        margin: 0 10px 0 5px;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        flex: 1;
        flex-direction: column;
        max-width: 750px;

        display: flex;
        align-items: center;
        justify-content: center;

        .current_playing {
            text-align: center;
            font-size: 17px;
            color: $body_color_lighter;

            .track_title {
                color: $body_color;
                text-decoration: none;
                font-weight: bold;
                padding: 0;
            }

            .user {
                color: $body_color_light;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .empty_track {
                font-style: italic;
                color: $body_color_light;
            }
        }
    }

    .track_list_popup {
        z-index: 11;
        position: absolute;
        bottom: 100%;
        margin-bottom: -3px;
        left: 0;
        right: 0;
        background: white;

        border: 1px solid $border_color;
        box-shadow: 0 0 10px rgba(black, 0.1);
        border-radius: 2px;
        font-size: $body_size_small;

        .file_list {
            margin: 0;
            padding: 10px;;
            max-height: 200px;
            overflow-y: auto;
            list-style: none;

            > li.active {
                .play_file_btn {
                    .filename {
                        font-weight: bold;
                    }
                    background: rgba($blue, 0.2);
                }

            }

            .play_file_btn {
                display: block;
                cursor: pointer;
                padding: 4px;
                width: 100%;
                background: transparent;
                font-family: inherit;
                font-size: inherit;
                border: 0;
                text-align: left;
                color: $body_color_lighter;

                > span {
                    color: $body_color;
                }

                &:hover {
                    background: rgba($blue, 0.1);
                }

            }
        }
    }
}
