
.community_topic_posts {
    .topic_posts_footer {
        margin-top: 40px;
        @include mobile_width {
            margin-top: 20px;
        }
    }

    .create_account_banner {
        font-size: var(--sc-body_size_small);
        color: body_color_light();

        .button {
            margin-right: 15px;
        }
    }
}
