
$border_color: #dadada;
$site_width: 960px;
$body_size: 18px;

$teal: #7ED6D7;
$red: #fe4e50;
$green: #aada80;
$blue: #34a0f2;
$orange: #FB9175;

$button_color: $blue;
$link_color: $blue;
$header_color: $blue;
$error_color: $red;
$like_color: #FF5E5E;

@mixin default_font {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin prefixed($prop, $args...) {
    -webkit-#{$prop}: $args;
    -moz-#{$prop}: $args;
    -ms-#{$prop}: $args;
    #{$prop}: $args;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    .ie & {
        $percent: round($opacity * 100);;
        filter: unquote("alpha(opacity=#{$percent})");
        -ms-filter: unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$percent})"');
    }
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin has_sub_link($default_color: #444) {
    a {
        @include transition(all 0.1s ease);
        color: $default_color;
        text-decoration: none;
        border-bottom: 2px solid $link_color;

        &:hover {
            color: $link_color;
        }
    }
}

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

