
$border_color: #dadada;
$site_width: 960px;
$narrow_width: 600px;
$header_height: 50px;

$body_size: 18px;
$body_color: #333;
$body_color_light: #666;
$body_color_lighter: #999;

$gray_back: #f5f5f5;

$teal: #7ED6D7;
$red: #fe4e50;
$green: #aada80;
$blue: #34a0f2;
$orange: #FB9175;
$yellow: #FDBF6C;
$purple: #A287C0;

$button_color: $blue;
$link_color: $blue;
$header_color: $blue;
$error_color: $red;
$like_color: #FF5E5E;

@mixin default_font {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin prefixed($prop, $args...) {
    -webkit-#{$prop}: $args;
    -moz-#{$prop}: $args;
    -ms-#{$prop}: $args;
    #{$prop}: $args;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    .ie & {
        $percent: round($opacity * 100);;
        filter: unquote("alpha(opacity=#{$percent})");
        -ms-filter: unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$percent})"');
    }
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin has_sub_link($default_color: #444) {
    a {
        @include transition(all 0.1s ease);
        color: $default_color;

        text-decoration: none;
        border-bottom: 2px solid $link_color;

        &:hover {
            color: $link_color;
        }
    }
}

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin quotes {
    &:before {
        content: "“";
        font-weight: normal;
        color: $body_color_lighter;
    }

    &:after {
        content: "”";
        font-weight: normal;
        color: $body_color_lighter;
    }
}

@mixin responsive_column {
    width: $site_width;
    margin-left: auto;
    margin-right: auto;

    .responsive & {
        width: auto;
        max-width: $site_width;
        padding-left: 40px;
        padding-right: 40px;

        @media (max-width: 600px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@mixin display_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin display_inline_flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@mixin align_items($value: center) {
    -webkit-box-align: $value;
    -webkit-align-items: $value;
    -ms-flex-align: $value;
    align-items: $value;
}

@mixin justify_content($value: center) {
    -webkit-box-pack: $value;
    -webkit-justify-content: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}

@mixin flex_direction_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
