@mixin dark_theme {
    @media (prefers-color-scheme: dark) {
        body:not(.light_theme) & {
            @content;
        }
    }

    body.dark_theme & {
        @content;
    }
}

@mixin dark_theme_root {
    @media (prefers-color-scheme: dark) {
        body:not(.light_theme) {
            @content;
        }
    }

    body.dark_theme {
        @content;
    }
}


@mixin default_font {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin has_sub_link($default_color: var(--sc-body_color_light)) {
    a {
        transition: all 0.1s ease;
        color: $default_color;

        text-decoration: none;
        border-bottom: 2px solid var(--sc-button_color);

        &:hover {
            color: var(--sc-link_color);
        }
    }
}

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin quotes {
    &:before {
        content: "“";
        font-weight: normal;
        color: var(--sc-body_color_lighter);
    }

    &:after {
        content: "”";
        font-weight: normal;
        color: var(--sc-body_color_lighter);
    }
}

@mixin responsive_column {
    max-width: var(--sc-site_width);
    margin-left: auto;
    margin-right: auto;

    .responsive & {
        padding-left: var(--sc-gutter, 40px);
        padding-right: var(--sc-gutter, 40px);
    }
}

@mixin mobile_width {
    @media(max-width: 650px) {
        @content;
    }
}


@mixin not_mobile_width {
    @media(min-width: 650px) {
        @content;
    }
}

@mixin visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

