
.community_topic_page {
    .inner_column {
        padding: 0;
    }

    .community_post_list {
        margin: 20px 40px;

        @include mobile_width {
            margin: 20px 10px;
        }
    }

    .topic_posts_footer {
        border-top: 1px solid border_color();
        padding: 20px 40px;
        @include mobile_width {
            padding: 20px 10px;
            h2 {
                font-size: 18px;
            }
        }

        h2 {
            margin-top: 0;
        }
    }

    .topic_header {
        border-bottom: 1px solid border_color();
        margin-bottom: 30px;

        @include mobile_width {
            margin-bottom: 20px;
        }

        h2 {
            margin: 0;
            padding: 25px 40px;

            @include mobile_width {
                font-size: 18px;
                padding: 20px 10px;
            }
        }
    }
}
