
.dashboard_page {
    .columns {
        @include display_flex;

        @include mobile_width {
            flex-direction: column;
        }
    }

    .home_header {
        padding-top: 0;
        .tabs_inner {
            padding-top: 12px;
        }
    }

    h2 {
        font-size: 22px;
        @include mobile_width {
            font-size: $body_size;
        }
    }

    .primary_column {
        @include flex;

        > :first-child {
            margin-top: 0
        }

        @include mobile_width {
            order: 2;
        }
    }

    .side_column {
        width: 260px;
        margin-left: 20px;

        @include mobile_width {
            order: 1;
            margin: 0 0 20px 0;
            width: auto;
        }
    }

    .sidebar_buttons {
        .button {
            display: block;
            margin-bottom: 10px;
        }
    }

    .side_notification {
        color: body_color_light();
        background: white_back();
        border: 1px solid border_color();
        padding: 10px;
        border-radius: 3px;
        font-size: 16px;
        margin-top: 20px;

        ul {
            font-size: 16px;
            padding-left: 25px;
            margin: 10px 0;
            &:last-child {
                margin-bottom: 0
            }
        }

        @include mobile_width {
            display: none;
        }
    }

    .account_stats {
        display: flex;
        flex-wrap: wrap;

        @include mobile_width {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-gap: 10px;
        }

        .stats_block {
            min-width: 80px;
            box-sizing: border-box;
            margin-right: 10px;

            @include mobile_width {
                margin-right: 0;
            }

            background: white_back();
            border: 1px solid border_color();
            border-radius: 3px;
            padding: 15px;
            text-align: center;

            .value {
                //font-weight: bold;
                font-size: 24px;
            }

            .label {
                font-size: 16px;
                color: body_color_light();
            }
        }
    }

    .suspended_notice {
        background: var(--sc-red);
        color: white;
        padding: 10px;
        border-radius: 3px;
        font-size: 120%;

        a {
            color: inherit;
        }
    }


}
