
.dashboard_page {
    .columns {
        @include display_flex;

        @include mobile_width {
            flex-direction: column;
        }
    }

    .home_header {
        padding-top: 0;
        .tabs_inner {
            padding-top: 12px;
        }
    }

    h2 {
        @include mobile_width {
            font-size: $body_size;
        }
    }

    .primary_column {
        @include flex;

        > :first-child {
            margin-top: 0
        }

        @include mobile_width {
            order: 2;
        }
    }

    .side_column {
        width: 260px;
        margin-left: 20px;

        @include mobile_width {
            order: 1;
            margin: 0 0 20px 0;
            width: auto;
        }
    }

    .sidebar_buttons {
        .button {
            display: block;
            margin-bottom: 10px;
        }
    }

    .side_notification {
        color: #666;
        background: white;
        border: 1px solid $border_color;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;

        @include mobile_width {
            display: none;
        }
    }
}
