
.edit_submission {
    .file_uploader {
        margin-bottom: 10px;
    }

    .file_upload_list {
        border: 1px solid $border_color;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 20px;

        &:empty {
            &:before {
                content: "No files have been added yet";
                color: #999;
            }
        }
    }

    .form {
        margin: 40px 0;
    }

    .button_row {
        margin-top: 40px;
    }

    input[type='text'] {
        width: 100%;
        display: block;
    }

    h3 {
        margin: 0;
        margin-top: 3px;
        color: #666;

        a {
            @include transition(all 0.1s ease);
            text-decoration: none;
            border-bottom: 2px solid $link_color;
            color: mix(#666, $link_color, 70%);
            color: #666;

            &:hover {
                color: $link_color
            }

            &:active {
                color: darken($link_color, 10%);
            }
        }
    }

    .file_upload {
        border-bottom: 1px solid $border_color;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &.uploading {
            .upload_progress {
                display: inline-block;
            }
        }

        &.has_error {
            .upload_error {
                display: inline-block;
            }
        }

        &.has_success {
            .upload_success {
                display: inline-block;
            }
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .upload_error {
            display: none;
            margin-left: 10px;
            color: $error_color;
        }

        .upload_success {
            display: none;
            margin-left: 10px;
            color: #999;
        }

        .upload_progress {
            display: none;
            vertical-align: middle;
            margin-left: 10px;

            height: 20px;
            width: 200px;
            background: lighten($border_color, 5%);

            .upload_progress_inner {
                @include transition(all 0.1s ease);
                height: 100%;
                width: 0%;
                background: $link_color;
            }
        }
    }
}
