
.edit_submission_page {
    .page_header{
        @include mobile_width {
            margin-bottom: 20px;

            h2 {
                font-size: 24px;
            }
        }
    }

    .upload_component {
        position: relative;

        &.dragging {
            * {
                pointer-events: none;
            }
        }

        .dragging_target {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($green, 0.8);
            font-weight: bold;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .upload_tip {
        font-size: $body_size_small;
        color: $body_color_light;
        margin: 0;
    }

    .upload_actions {
        display: flex;
        align-items: center;
        > * {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .file_uploader {
        margin-bottom: 10px;
    }

    .file_upload_list {
        border: 1px solid $border_color;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 20px;

        &:empty {
            &:before {
                content: "No files have been added yet";
                color: #999;
            }
        }
    }

    .submit_banner {
        margin-bottom: 20px;
    }

    .file_upload {
        border-bottom: 1px solid $border_color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 0;

        @include transition(top 0.2s ease);

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .upload_error {
            display: inline-block;
            margin-left: 10px;
            color: $error_color;
        }

        .upload_success {
            display: inline-block;
            margin-left: 10px;
            color: #999;
        }

        .upload_progress {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;

            height: 20px;
            width: 200px;
            background: lighten($border_color, 5%);

            .upload_progress_inner {
                @include transition(all 0.1s ease);
                height: 100%;
                width: 0%;
                background: $link_color;
            }
        }

        .upload_tools {
            float: right;
            display: block;

            button {
                display: inline-block;
                margin-right: 15px;
                font-size: 16px;
                background: none;
                border: none;
                font-family: inherit;
                color: $link_color;
                text-decoration: underline;
                cursor: pointer;
            }

            .delete_btn {
                color: $red;
            }
        }
    }
}
