
.form {
    // takes up majority of page
    &.primary_form {
        margin: 40px 0;
        input[type='text'], input[type='password'], input[type='email'], textarea {
            width: 50%;
            display: block;
        }
    }

    .input_row {
        margin: 0;
        margin-bottom: 30px;
    }

    .radio_list, .check_list {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 8px 10px;
            padding: 0;
            color: #444;
        }

        input {
            vertical-align: middle;
            margin: 0 5px 0 0;
        }

        .sub {
            color: #666;
        }
    }


    input[type='text'], input[type='password'], input[type='email'], textarea {
        @include default_font;
        @include border_box;

        background: white;
        border: 2px solid lighten($border_color, 5%);
        outline: none;
        padding: 5px 10px 4px 10px;
        width: 300px;

        &:focus {
            border: 2px solid $border_color;
        }
    }

    .tagit-hidden-field {
        display: none !important;
    }

    .tagit {
        margin: 0;
        border: 2px solid lighten($border_color, 5%);
        border-radius: 0;

        input[type='text'] {
            width: inherit;
            border: 0;
            &:active {
                border: 0;
            }
        }
    }

    .form_errors {
        color: $error_color;
        margin-bottom: 20px;

        ul {
            margin: 10px 0;
        }
    }

    .redactor-box {
        border: 2px solid lighten($border_color, 5%);
        overflow: hidden;
        margin-bottom: 0;
    }

    .redactor-editor {
        border: 0;
    }

    .redactor-toolbar {
        z-index: 98 !important;

        li a {
            color: #666;

            &:hover {
                background: $button_color;
            }

            &:active, &.redactor-act {
                background: #ddd;
                color: #666;
            }
        }
    }

    .label {
        font-size: 14px;
        font-weight: bold;
        color: mix(#666, $button_color, 90%);
        margin-bottom: 4px;

        .sub {
            color: lighten(mix(#666, $button_color, 90%), 15%);
        }
    }

    .button_row {
        margin-top: 40px;
        color: #999;

        a {
            color: #666;
        }
    }

    .input_full_directions {
        color: #666;
        font-size: 16px;
        max-width: 480px;
        margin: 15px 0;
    }
}

.button {
    @include default_font;
    @include transition(background 0.1s ease);
    @include border_box;
    text-align: center;

    font-weight: bold;
    height: 35px;
    line-height: 35px;
    color: white;
    padding: 0 20px;
    background: $button_color;
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    outline: none;

    &:hover {
        background: lighten($button_color, 5%);
        color: white;
    }

    &:active {
        background: darken($button_color, 5%);
        color: white;
    }

    &:focus {
        box-shadow: 0 0 0 2px lighten($button_color, 20%);
    }

    &:disabled, &.disabled {
        @include opacity(0.8);
        background: gray;
        color: lighten(gray, 20%);
        cursor: normal
    }

    &.outline_button {
        background: white;
        border: 2px solid rgba($button_color, 0.6);
        color: $link_color;
        line-height: 35px - 4px;

        &:hover {
            border: 2px solid $button_color;
            background: mix($button_color, white, 10%);
        }
    }
}

