
.home_header {
    .tab_wrapper {
        position: relative;

        .tab_bubble {
            @include border_box;
            position: absolute;
            bottom: 50%;
            right: 15px;
            z-index: 10;

            $size: 22px;
            height: $size;
            min-width: $size;
            padding: 0 5px;
            color: white;
            background: $red;
            display: inline-block;
            vertical-align: top;
            line-height: $size;
            border-radius: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 4px;
            text-decoration: none;
        }
    }
}
