
.home_header {
    padding-top: 12px;

    .tab {
        padding-bottom: 8px
    }

    @include mobile_width {
        .tabs_inner {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .tab {
            font-size: $body_size_small;
            margin-right: 20px;
        }
    }


    .tab_wrapper {
        position: relative;

        .tab_bubble {
            @include border_box;
            position: absolute;
            top: -7px;
            right: 15px;
            z-index: 10;

            $size: 22px;
            height: $size;
            min-width: $size;
            padding: 0 5px;
            color: white;
            background: $red;
            display: inline-block;
            vertical-align: top;
            line-height: $size;
            border-radius: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
        }
    }
}
