
.home_header {
    padding-top: 12px;

    .tab {
        padding-bottom: 8px
    }

    @include mobile_width {
        .tabs_inner {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }
    }


    .tab_wrapper {
        position: relative;

        .tab_bubble {
            @include border_box;
            position: absolute;
            top: -7px;
            left: 100%;
            margin-left: -5px;
            z-index: 10;
            display: flex;
            align-items: center;

            --sc-bubble-size: 22px;
            height: var(--sc-bubble-size);
            min-width: var(--sc-bubble-size);
            padding: 0 5px;
            color: white;
            background: $red;
            vertical-align: top;
            border-radius: 10px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;

            @include mobile_width {
                font-size: 12px;
                --sc-bubble-size: 18px;
            }
        }
    }
}
