
$gray: darken(#F5F5F5, 3%);

.index_logged_out_page {
    background: white_back();

    .typed-cursor {
        display: none;
    }

    .primary_header {
        background: #717485;
        padding: 30px 0;
        text-align: center;
        background: url(/static/images/banner_wide.jpg);
        background-position: 50% 50%;
        background-size: cover;

        .slide_up {
            top: 10px;
            opacity: 0;
        }

        h1, h2 {
            @include transition(all 0.6s ease-out);
            position: relative;
            top: 0;
        }

        h1 {
            font-size: 60px;
            font-weight: normal;
            margin: 0;
            line-height: 1.1;
            padding: 0 10px;
            color: white;
        }

        h2 {
            font-weight: normal;
            margin: 0;
            font-size: 18px;
            color: body_color_light();
            margin-top: 5px;
            color: white;
        }

    }

    .streak_browser {
        text-align: center;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        padding: 0 20px;
        padding-top: 10px;
        background: gray_back();


        .tab {
            padding-bottom: 10px;
        }

        .tab, .tab_sub {
            font-size: $body_size;

            @include mobile_width {
                font-size: $body_size_small;
                margin-right: 20px;
            }
        }
    }

    h3 {
        color: body_color_light();
        margin: 20px 0;
        font-size: 28px;
    }

    .sub_header {
        padding: 0 20px;
    }

    .intro {
        text-align: center;
        padding: 80px 0;


        @include mobile_width {
            padding: 20px 0;
        }


        h3 {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .intro_left, .intro_right {
            display: inline-block;
            vertical-align: middle;
            text-align: left;

            @media (max-width: 1100px) {
                display: block;
            }
        }

        .intro_left  {
            max-width: 440px;
            margin-right: 60px;

            @media (max-width: 1100px) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 60px;
                padding: 0 40px;

                p:last-child {
                    margin-bottom: 0;
                }
            }

            @include mobile_width {
                padding: 0 20px;
            }

        }

        .intro_right {
            @media (max-width: 1100px) {
                max-width: 548px;
                padding: 0 20px;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .streak_grid {
        text-align: center;
        padding: 0 10px;
        padding: 40px 0;
        background: gray_back();

        @include dark_theme {
            border-top: 1px solid border_color();
            border-bottom: 1px solid border_color();
        }

        .grid_wrapper {
            max-width: 420px;
            margin: 0 auto;
            font-size: 0;
            height: 86px;
            overflow: hidden;
        }

        .grid_note {
            max-width: 300px;
            color: body_color_light();
            padding: 0 20px;
            line-height: 1.5;

            &.above {
                margin: 0 auto 25px auto;
            }

            &.below {
                margin: 25px auto 0 auto;
            }
        }

        .grid_stats {
            margin-top: 10px;

            .stat_value {
                font-size: 22px;
            }

            .stat_label {
                color: body_color_light();
                font-size: 16px;
            }
        }

        .grid_box {
            @include transition(background 0.3s ease);
            background: border_color();
            width: 22px;
            height: 22px;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 10px;

            &.active {
                background: var(--sc-green);
            }
        }
    }

    .tutorial {
        padding: 100px 0;
        text-align: center;

        @include mobile_width {
            padding: 20px 0;
        }

        h3 {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 20px;
        }

        .tutorial_left {
            margin-right: 60px;

            @media (max-width: 1100px) {
                margin-bottom: 40px;
            }
        }

        .tutorial_left, .tutorial_right {
            display: inline-block;
            vertical-align: top;
            width: 495px;
            text-align: left;

            @media (max-width: 1100px) {
                display: block;
                max-width: 400px;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                padding: 0 40px;
            }

            @include mobile_width {
                padding: 0 20px;
            }
        }
    }

    .streak_countdown {
        text-align: center;
        padding: 0 10px;
        padding: 40px 0;
        background: gray_back();

        @include dark_theme {
            border-top: 1px solid border_color();
        }

        .countdown_note {
            max-width: 300px;
            color: body_color_light();
            padding: 0 20px;
            line-height: 1.5;

            &.above {
                margin: 0 auto 25px auto;
            }

            &.below {
                margin: 25px auto 0 auto;
            }
        }

        .countdown {
            width: 300px;
            margin: 0 auto;
        }
    }

    .footer_buttons {
        padding: 40px 0 60px;
        text-align: center;
        color: white;
        background: header_color();
        background: linear-gradient(45deg, $link_color, mix($link_color, orange, 70%));

        h3 {
            margin: 0;
            font-weight: normal;
            margin-bottom: 20px;
            color: white;
        }

        .buttons_box {
            @include border_box;
            padding-top: 110px;
            background: #333;
            max-width: 400px;
            height: 300px;
            margin: auto;

            background: url(/static/images/box.jpg);
            background-position: 50% 50%;

            box-shadow: 0 0 0 5px rgba(white, 0.5);
        }

        .button {
            font-size: 30px;
            height: 60px;
            line-height: 60px - 4px;
            padding: 0 40px;

            @media (max-width: 400px) {
                font-size: 22px;
            }

            background: transparent !important;
            color: white !important;
            border-color: white !important;

            &:hover {
                background-color: white !important;
                color: link_color() !important;
            }
        }

        .small_text {
            margin-top: 10px;
            color: rgba(white, 0.8);

            a {
                color: white
            }
        }
    }

    .featured_streaks, .featured_submissions {
        text-align: center;

        h3 {
            margin-bottom: 0;
            font-weight: normal;
            margin-top: 40px;
        }
    }

    .featured_streaks {
        .streak_list {
            margin: 40px auto;
            padding: 0 20px;
            max-width: 800px;
        }
    }

    .all_streaks {
        text-align: center;
    }

    .featured_submissions {
        margin-top: 40px;
        border-top: 1px solid border_color();
        @include border_box;
        background: gray_back();

        .submission_columns {
            margin-top: 30px;
        }

        .submissions_column {
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
            width: 400px;

            &:nth-child(3) {
                margin-right: 0;
            }

            @media (max-width: 1380px) {
                &.col3 {
                    display: none;
                }

                &:nth-child(2) {
                    margin-right: 0;
                }
            }

            @media (max-width: 940px) {
                width: 300px;
            }

            @media (max-width: 715px) {
                &.col2 {
                    display: none;
                }

                &:nth-child(1) {
                    margin-right: 0;
                }
            }


            @media (max-width: 400px) {
                width: 100%;
                .featured_submission {
                    border: 0;
                    border-bottom: 1px solid border_color();
                }
            }
        }

        .featured_submission {
            border: 1px solid border_color();
            padding: 10px;
            margin-bottom: 30px;
            text-align: left;
            background: white_back();

            .submission_image img {
                width: 100%;
                height: auto;
                display: block;
                border: 0;

                &:not([src]) {
                    opacity: 0;
                }
            }

            .submission_author, .submission_title {
                @include single_line;
                margin-left: 63px;
                line-height: 1.4;

                a {
                    text-decoration: none;
                    display: inline-block;
                    border-bottom: 1px solid link_color();
                    line-height: 1.2
                }
            }

            .submission_title {
                font-size: 20px;
            }

            .submission_author {
                color: body_color_lighter();

                a {
                    color: body_color_light();
                    border-color: body_color_lighter();
                }
            }

            .submission_meta {
                margin-top: 10px;

                img {
                    width: 53px;
                    height: 53px;
                    border-radius: 53px;
                    float: left;
                }
            }
        }
    }
}

