
$gray: darken(#F5F5F5, 3%);

.index_logged_out {
    padding-bottom: 40px;

    .typed-cursor {
        display: none;
    }

    .primary_header {
        background: #717485;
        padding: 30px 0;
        text-align: center;
        background: url(/static/images/banner_wide.jpg);
        background-position: 50% 50%;
        background-size: cover;

        .slide_up {
            top: 10px;
            opacity: 0;
        }

        h1, h2 {
            @include transition(all 0.6s ease-out);
            position: relative;
            top: 0;
        }

        h1 {
            font-size: 60px;
            font-weight: normal;
            margin: 0;
            line-height: 1.1;
            padding: 0 10px;
            color: white;
        }

        h2 {
            font-weight: normal;
            margin: 0;
            font-size: 18px;
            color: #666;
            margin-top: 5px;
            color: white;
        }

    }

    .streak_browser {
        text-align: center;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
        padding: 0 20px;
        padding-top: 10px;
        background: $gray;

        .tab {
            padding-bottom: 10px;
        }

        .tab, .tab_sub {
            font-size: 18px;
        }
    }

    h3 {
        color: #666;
        margin: 20px 0;
        font-size: 28px;
    }

    .sub_header {
        padding: 0 20px;
    }

    .intro {
        text-align: center;
        padding: 80px 0;

        h3 {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .intro_left, .intro_right {
            display: inline-block;
            vertical-align: middle;
            text-align: left;

            @media (max-width: 1100px) {
                display: block;
            }
        }

        .intro_left  {
            max-width: 440px;
            margin-right: 60px;

            @media (max-width: 1100px) {
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 60px;
                padding: 0 40px;

                p:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .intro_right {
            @media (max-width: 1100px) {
                max-width: 548px;
                padding: 0 20px;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    .streak_grid {
        text-align: center;
        padding: 0 10px;
        padding: 40px 0;
        background: $gray;
        background: linear-gradient(to bottom, $gray, lighten($gray, 2%));

        .grid_wrapper {
            max-width: 420px;
            margin: 0 auto;
            font-size: 0;
            height: 86px;
            overflow: hidden;
        }

        .grid_note {
            max-width: 300px;
            color: #666;
            padding: 0 20px;
            line-height: 1.5;

            &.above {
                margin: 0 auto 25px auto;
            }

            &.below {
                margin: 25px auto 0 auto;
            }
        }

        .grid_stats {
            margin-top: 10px;

            .stat_value {
                font-size: 22px;
            }

            .stat_label {
                color: #666;
                font-size: 16px;
            }
        }

        .grid_box {
            @include transition(background 0.3s ease);
            background: #DADADA;
            width: 22px;
            height: 22px;
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 10px;

            &.active {
                background: #AADA80;
            }
        }
    }

    .tutorial {
        padding: 100px 0;
        text-align: center;

        h3 {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 20px;
        }

        .tutorial_left {
            margin-right: 60px;

            @media (max-width: 1100px) {
                margin-bottom: 40px;
            }
        }

        .tutorial_left, .tutorial_right {
            display: inline-block;
            vertical-align: top;
            width: 495px;
            text-align: left;

            @media (max-width: 1100px) {
                display: block;
                max-width: 400px;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                padding: 0 40px;
            }
        }
    }

    .streak_countdown {
        text-align: center;
        padding: 0 10px;
        padding: 40px 0;
        background: $gray;
        background: linear-gradient(to bottom, $gray, lighten($gray, 2%));

        .countdown_note {
            max-width: 300px;
            color: #666;
            padding: 0 20px;
            line-height: 1.5;

            &.above {
                margin: 0 auto 25px auto;
            }

            &.below {
                margin: 25px auto 0 auto;
            }
        }

        .countdown {
            width: 300px;
            margin: 0 auto;
        }
    }

    .footer_buttons {
        padding: 40px 0 60px;
        text-align: center;
        color: white;
        background: $header_color;
        background: linear-gradient(45deg, $link_color, mix($link_color, orange, 70%));

        h3 {
            margin: 0;
            font-weight: normal;
            margin-bottom: 20px;
            color: white;
        }

        .buttons_box {
            @include border_box;
            padding-top: 110px;
            background: #333;
            max-width: 400px;
            height: 300px;
            margin: auto;

            background: url(/static/images/box.jpg);
            background-position: 50% 50%;

            box-shadow: 0 0 0 5px rgba(white, 0.5);
        }

        .button {
            font-size: 30px;
            height: 60px;
            line-height: 60px - 4px;
            padding: 0 40px;

            @media (max-width: 400px) {
                font-size: 22px;
            }

            background: transparent;
            color: white;
            border-color: white;

            &:hover {
                background-color: white;
                color: $link_color;
            }
        }

        .small_text {
            margin-top: 10px;
            color: rgba(white, 0.8);

            a {
                color: white
            }
        }
    }

    .featured_streaks, .featured_submissions {
        text-align: center;

        h3 {
            margin-bottom: 0;
            font-weight: normal;
            margin-top: 40px;
        }
    }

    .featured_streaks {
        .streak_box {
            text-align: left;

            @media (max-width: 500px) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .all_streaks {
        text-align: center;
    }

    .featured_submissions {
        margin-top: 40px;
        border-top: 1px solid $border_color;
    }
}

