
.index_logged_in_page {
    h2:first-child {
        margin-top: 0;
    }

    .columns {
        font-size: 0;
    }

    .primary_column, .side_column {
        display: inline-block;
        vertical-align: top;
        font-size: $body_size;
        padding-bottom: 20px;
    }

    .primary_column {
        width: 700px;
    }

    .side_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;
    }

    .sidebar_buttons {
        .button {
            display: block;
            margin-bottom: 10px;
        }
    }

    .streak_list {
        margin-top: 20px;
    }

    .side_notification {
        color: #666;
        background: white;
        border: 1px solid $border_color;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 20px;
    }
}
