
body {
    @include default_font;
    color: $body_color;
    margin: 0;
    padding: 0;
}


.page_header {
    margin-bottom: 40px;

    h1, h2 {
        font-weight: normal;
        margin: 0;
        color: #222;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        margin: 0;
        margin-top: 3px;
        color: #666;
        font-size: 20px;
        // font-weight: normal;
        // color: $orange;

    }

    a {
        @include transition(all 0.1s ease);
        text-decoration: none;
        border-bottom: 2px solid $link_color;
        color: mix(#666, $link_color, 70%);
        color: #666;

        &:hover {
            color: $link_color
        }

        &:active {
            color: darken($link_color, 10%);
        }
    }
}

.page_tabs {
    border-bottom: 1px solid $border_color;
    margin-bottom: 40px;
    .tab {
        @include transition(all 0.2s ease);
        color: $body_color;
        text-decoration: none;
        border-bottom: 1px solid rgba($link_color, 0);
        margin-right: 40px;
        font-size: 20px;
        padding-bottom: 5px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 1px;

        &.active, &:hover {
            color: $link_color;
            border-bottom: 1px solid rgba($link_color, 1);
        }
    }
}

p {
    line-height: 1.5;
    margin: 0;
}

a {
    color: $link_color;

    &:hover {
        color: lighten($link_color, 5%);
    }
}

.header {
    $inset_margin: 40px;
    $header_height: 50px;

    position: relative;

    .primary_header {
        background: $header_color;
        height: $header_height;
        color: white;

        @media (max-width: 600px) {
            text-align: center;
        }
    }

    .right_header {
        position: absolute;
        top: 0;
        right: $inset_margin;
        margin-top: 10px;

        @media (max-width: 600px) {
            @include border_box;
            height: $header_height;
            position: static;
            background: darken($header_color, 10%);
            margin: 0;
            text-align: center;
            padding-top: 10px;

            :first-child {
                margin-left: 0;
            }
        }
    }

    .logo {
        margin-left: $inset_margin;
        display: inline-block;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;

        .logo_text, .logo_image {
            display: inline-block;
            vertical-align: top;
        }

        .logo_text {
            margin-top: 14px;
        }

        @media (max-width: 600px) {
            margin-left: 0;
        }
    }

    .user_name {
        height: 30px;
        line-height: 30px;
        display: inline-block;

        color: white;
        text-decoration: none;
    }

    .notification_bubble {
        $size: 22px;
        width: $size;
        height: $size;
        color: white;
        background: $red;
        display: inline-block;
        vertical-align: top;
        line-height: $size;
        border-radius: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 4px;
        text-decoration: none;
    }

    .header_button {
        @include border_box;
        @include transition(all 0.2s ease);

        display: inline-block;
        height: 30px;
        line-height: 30px - 4px;
        color: white;
        padding: 0 15px;
        border: 2px solid rgba(white, 0.5);
        text-decoration: none;

        border-radius: 3px;
        margin-left: 10px;

        &:hover {
            background: rgba(white, 0.8);
            color: $header_color;
        }

        &:active {
            background: rgba(white, 0.4);
        }
    }
}

.base_widget {
    width: $site_width;
    margin: 40px auto;
}



.global_flash {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 50%;
    background: white;
    color: $link_color;
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    padding-top: 15px;
    cursor: normal;
    font-size: 18px;
    font-weight: bold;
    box-shadow: inset 0 -1px 0 rgba(255,255,255, 0.2), 0 1px 4px rgba(0,0,0, 0.3);

    &.error {
    }

    &.animated {
        @include transition(all 0.25s ease-in-out)
    }
}


.owner_tools {
    border: 1px solid lighten(mix($button_color, $red, 60%), 25%);
    background: lighten(mix($button_color, $red, 60%), 34%);
    margin-bottom: 20px;
    padding: 10px;

    &:before {
        content: "Owner tools:";
        font-weight: bold;
        margin-right: 10px;
        color: rgba(#666, 0.8);
    }
}

.admin_tools {
    position: fixed;
    top: 60px;
    right: 10px;
    background: white;
    border: 1px solid $border_color;
    padding: 10px;
}

.footer {
    margin-bottom: 40px;

    .footer_right {
        float: right;
        @media (max-width: 600px) {
            float: none;
            margin-bottom: 10px;
        }
    }

    .inner_column {
        border-top: 1px solid $border_color;
        max-width: $site_width;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 10px;
        color: #999;
        font-size: 14px;
    }

    a {
        color: #666;
    }
}

.empty_message {
    margin: 20px 0;
    color: #666;
}


.user_formatted {

    h1,h2,h3,p,ul,ol,blockquote {
        margin: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background: $border_color;
    }
}

.toggle_follow_btn {
    &.following {
        .on_following {
            display: inline;
        }

        .on_not_following {
            display: none;
        }

    }

    .on_following {
        display: none;
    }
}

