
body {
    @include default_font;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
    color: #222;
}

p {
    line-height: 1.5;
    margin: 0;
}

a {
    color: $link_color;

    &:hover {
        color: lighten($link_color, 5%);
    }
}

.header {
    $inset_margin: 40px;
    $header_height: 50px;

    background: $button_color;
    height: $header_height;
    color: white;
    position: relative;

    .right_buttons {
        position: absolute;
        top: 0;
        right: $inset_margin;
        margin-top: 10px;
    }

    .logo {
        margin-top: 8px;
        margin-left: $inset_margin;
        display: inline-block;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 2px 0;
        text-decoration: none;

        border-bottom: 4px dotted rgba(white, 0.8);
        border-top: 4px dotted rgba(white, 0.8);
    }

    .user_name {
        height: 30px;
        line-height: 30px;
    }

    .header_button {
        @include border_box;
        @include transition(all 0.2s ease);

        display: inline-block;
        height: 30px;
        line-height: 30px - 4px;
        color: white;
        padding: 0 15px;
        border: 2px solid rgba(white, 0.5);
        text-decoration: none;

        border-radius: 3px;
        margin-left: 10px;

        &:hover {
            background: rgba(white, 0.8);
            color: $button_color;
        }

        &:active {
            background: rgba(white, 0.4);
        }
    }
}

.base_widget {
    width: $site_width;
    margin: 40px auto;
}
