
.streak_header {
    margin-bottom: 25px;
    @include mobile_width {
        margin-bottom: 0;
    }

    .breadcrumbs {
        margin-bottom: 15px;
        font-size: 16px;
        color: body_color_light();

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .draft_banner, .hidden_banner {
        display: block;
        background: lighten($error_color, 10%);
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .page_header {
        padding-top: 25px;
        margin-bottom: 25px;

        @include mobile_width {
            margin-bottom: 15px;
            padding-top: 10px;
        }
    }

    .page_tabs {
        margin-bottom: 0;
    }

    .hidden_banner {
        background: lighten($green, 10%);
        color: desaturate(darken($green, 40%), 20%);
    }

    h2 a {
        color: inherit;
        text-decoration: none;
        border: 0;
    }
}
