
.streak_header {
    .draft_banner, .hidden_banner {
        display: block;
        background: lighten($error_color, 10%);
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .page_header {
        padding-top: 25px;
        margin-bottom: 25px;
    }

    .hidden_banner {
        background: lighten($green, 10%);
        color: desaturate(darken($green, 40%), 20%);
    }

    h2 a {
        color: inherit;
        text-decoration: none;
        border: 0;
    }

    h3 {
        font-weight: normal;
        font-size: 22px;
    }
}
