
.streak_units {
    .streak_unit {
        background: $border_color;
        display: inline-block;
        vertical-align: top;
        margin: 0 4px 4px 0;
        color: #777;
        font-size: 10px;
        font-weight: bold;
        text-align: center;

        &.before_current_unit {
            background: darken($border_color, 8%);
        }

        &.current_unit {
            box-shadow: 0 0 0 2px lighten($blue, 20%);
        }

        &.submitted {
            background: $green;
            color: darken($green, 30%);
        }
    }
}
