
.streak_header {
    .draft_banner, .hidden_banner {
        display: block;
        background: lighten($error_color, 10%);
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .hidden_banner {
        background: lighten($green, 10%);
        color: desaturate(darken($green, 40%), 20%);
    }
}
