
.streak_embed_page {
    iframe {
        border: 2px solid border_color();
    }

    .columns {
        display: flex;
        margin-top: 20px;
        gap: 20px;

        > * {
            flex: 1;
        }
    }

    textarea {
        width: 100%;
        max-width: 500px;
        height: 100px;
        color: body_color_light();
    }
}
