.submission_commenter {
    .comment_form_outer {
        border-top: 1px solid $border_color;

        .comment_header {
            margin: 10px 20px;
        }

        .input_wrapper {
            margin: 10px 20px;
        }

        textarea {
            @include border_box;
            width: 100%;
            display: block;
        }

        .button_row {
            margin: 10px 20px 15px 20px;
        }

        .form_errors {
            margin: 20px;
        }
    }

    .submission_comment_list {
        padding-top: 30px;
        border-top: 1px solid $border_color;

        &:empty {
            border-width: 0px;
            padding: 0;
        }
    }
}

