.submission_comment_list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .submission_comment, .comment_spacer {
        position: relative;
    }

    .comment_spacer {
        overflow: hidden;
        @include transition(all 0.5s ease);
        margin-bottom: 0;

        &.animated {
            .submission_comment {
                left: 0;
                @include opacity(2);
            }
        }

        .submission_comment {
            @include transition(all 0.5s ease);
            margin: 0;
            @include opacity(0);
            left: -25%;
        }
    }

    .submission_comment {
        display: flex;
        gap: 10px;

        &.loading {
            position: relative;
            pointer-events: none;

            &:before {
                content: " ";
                position: absolute;
                display: block;
                z-index: 1;
                top: -10px;
                bottom: -10px;
                left: 0;
                right: 0;
                background: rgba(255,255,255, 0.5);
            }
        }

        &.editing {
            .edit_tool, .comment_body {
                display: none;
            }
        }

        .comment_avatar {
            flex: none;

            > a {
                display: block;
            }
            img {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }

        .comment_head {
            display: flex;
            gap: 10px;
        }

        .comment_author {
            color: body_color_light();
        }

        .comment_tools {
            margin-left: auto;
            a {
                color: body_color_lighter();
            }
        }

        .comment_content {
            flex: 1;
            min-width: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .comment_time {
            color: body_color_lighter();
        }

        .comment_body.user_formatted {
            padding: 0;
        }

        .suspended_message {
            color: body_color_lighter();
        }

        .comment_editor {
            border: 1px solid border_color();
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
            padding: 10px;

            textarea {
                @include border_box;
                width: 100%;
                display: block;
            }

            .button_row {
                margin-top: 10px;
            }
        }
    }
}

