
.submission_list {
    margin: 20px 0;
    width: 700px;

    $meta_margin: 140px;

    .submission_row {
        position: relative;
        margin-bottom: 40px;

        .submission_admin {
            margin-top: 10px;
            background: white_back();
            border: 1px solid border_color();
            padding: 10px;
            position: absolute;
            top: 0;
            right: 100%;
            margin-right: 10px;

            @include mobile_width {
                right: 0;
                z-index: 100;
            }
        }

        .submission_content {
            background: white_back();
            border: 1px solid border_color();
            border-radius: 4px;
            margin-left: 98px;
        }

        .submission_inside_content {
            &.truncated {
                max-height: 680px;
                overflow: hidden;
                position: relative;

            }

            .unroll_submission {
                position: absolute;
                background: linear-gradient(to bottom, rgba(white, 0), white_back() 50%, white_back());
                font-size: 18px;
                font-weight: bold;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                padding: 20px 0 5px 0;
                color: link_color();
                cursor: pointer;
            }
        }

        .submission_header {
            position: relative;
            border-bottom: 1px solid border_color();
            padding: 12px 20px 15px 20px;
            background: var(--sc-gray_back50);
            border-radius: 4px 4px 0 0;

            .submission_meta {
                position: absolute;
                top: 12px;
                right: 20px;
                font-size: 16px;
                color: body_color_lighter();

                a {
                    color: body_color_lighter();
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .edit_btn {
                    @include transition(all 0.2s ease);
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 15px;
                    position: relative;
                    top: 2px;

                    &:hover {
                        color: link_color();
                        text-decoration: none;
                    }
                }

            }

            .submission_title {
                margin-right: $meta_margin;
                line-height: 1.6;
                @include has_sub_link;

                a {
                    padding-bottom: 2px;
                }
            }

            .submission_summary {
                @include has_sub_link(body_color_light());
                margin-top: 15px;
                color: body_color_light();

                // when there is no title
                &:first-child {
                    margin-top: 0;
                    // make space for the timestamp
                    margin-right: $meta_margin;
                }
            }

            .hidden_notice {
                margin-top: 15px;
                font-size: 16px;
                color: purple();
            }

            .streak_title_group {
                white-space: nowrap;
            }
        }

        .submission_uploads {
            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                display: block;
                border: 0;

                &:not([src]) {
                    opacity: 0;
                }
            }
        }

        .submission_upload, .submission_audio {
            display: block;
            margin: 15px 20px;
            height: 35px;
            line-height: 35px;

            button {
                margin-right: 20px;
                @include mobile_width {
                    font-size: 16px;
                }
            }

            .upload_stats {
                float: right;
                color: body_color_lighter();
                font-size: 16px;
            }

            .upload_size {
                display: inline-block;
                color: body_color_light();
                margin-left: 10px;

                &:before {
                    content: "("
                }

                &:after {
                    content: ")"
                }
            }
        }

        .submission_video_widget {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0 0 0 1px white, inset 0 0 10px 4px rgba(black, 0.2);
            position: relative;
            overflow: hidden;

            .video_progress_bar {
                box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(black, 0.2);
                position: absolute;
                left: 10px;
                bottom: 10px;
                right: 10px;
                height: 5px;
                border-radius: 4px;
                background: border_color();
                overflow: hidden;
                pointer-events: none;
                opacity: 0.75;

                .video_progress_bar_inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    border-radius: 4px;
                    background: body_color_lighter();
                }
            }

            > .video_thumbnail {
                position: absolute;
                filter: blur(20px);
                width: calc(100% + 20px);
                height: calc(100% + 20px);
                top: -10px;
                left: -10px;
            }

            > .control_buttons {
                z-index: 1;
                display: flex;
                gap: 5px;
                background: white_back();
                align-items: center;
                box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(black, 0.2);
                border-radius: $button_radius;

                .upload_size {
                    margin-right: 10px;
                    color: body_color_light();
                }

                .download_btn {
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                    color: inherit;
                    padding: 5px;
                    color: body_color_light();
                    &:active {
                        position: relative;
                        top: 1px;
                    }

                    &:hover {
                        color: body_color();
                    }
                }
            }

            > video {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .submission_audio {
            position: relative;

            &.loading {
                .play_audio_btn {
                    opacity: 0.5;
                }
            }

            .playback_error {
                color: $error_color;
                font-weight: bold;
            }

            .audio_progress_inner {
                transition: all 0.3s linear;
            }

            .download_form {
                float: right;

                button {
                    margin-right: 0;
                }
            }

            .truncate_content {
                margin-left: 55px;
                margin-right: 140px;
                @include single_line;
                position: relative;
            }

            .audio_progress_outer {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 5px;
                background: border_color();

                .audio_progress_inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 50%;
                    background: body_color_lighter();
                }
            }

            .play_audio_btn {
                background: button_color();
                height: 35px;
                border: 0;
                width: 35px;
                border-radius: 35px;
                color: white;
                cursor: pointer;
                float: left;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                    margin: 0;
                }

                .play_icon, .pause_icon {
                    transition: opacity 0.2s ease;
                }

                .play_icon {
                    height: 20px;
                    width: 17px;
                    margin-left: 5px;
                }

                .pause_icon {
                    width: 15px;
                    height: 19px;
                }

                &:hover {
                    background: button_hover_color()
                }

                &:active {
                    background: button_active_color()
                }
            }
        }

        .user_column {
            position: absolute;
            top: 6px;
            left: 0;
            width: 80px;
            text-align: center;
            word-wrap: break-word;

            .user_link {
                text-decoration: none;
                > img {
                    width: 80px;
                    height: 80px;
                    display: block;
                    border-radius: 40px;
                    margin-bottom: 10px;
                    border: 0;

                }
            }

            .user_name {
                @include transition(all 0.1s ease);
                font-size: 16px;
                color: body_color_light();
                text-decoration: none;
                border-bottom: 2px solid link_color();

                &:hover {
                    color: link_color();
                }
            }

        }

        h3, h4 {
            margin: 0;
        }

        h4 {
            font-weight: normal;
        }

        .user_formatted {
            padding: 15px 20px;

            pre {
                overflow-x: scroll;
            }
        }

        .unit_number {
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            font-weight: normal;
            background: border_color();
            padding: 1px 6px;
            border-radius: 12px;
            margin-left: 2px;

            &:before {
                content: "#";
            }
        }

        .empty_message {
            padding: 15px 20px;
            margin: 0;
            color: body_color_lighter();
        }

        .submission_footer {
            border-top: 1px solid border_color();
            position: relative;
            overflow: hidden;

            .footer_inside {
                padding: 10px 20px;
                position: relative;
                float: left;
            }

            a {
                color: body_color_light();
                &.loading {
                    @include opacity(0.3);
                }
            }

            .submission_tags {
                padding: 10px 20px;
                text-align: right;

                .submission_tag {
                    @include transition(all 0.2s ease);
                    display: inline-block;
                    font-size: 16px;
                    margin-left: 15px;
                    text-decoration: none;
                    color: body_color_light();

                    &:hover {
                        color: link_color();
                    }

                    &:before {
                        content: "#";
                    }

                    &.late_submit_tag {
                        background: mix($white_back, $link_color, 90%);
                        padding: 0px 4px;
                        border-radius: 2px;
                        box-shadow: 0 0 0 3px mix($white_back, $link_color, 90%), 0 0 0 4px mix($white_back, $link_color, 70%);
                        @include dark_theme {
                            background: mix($dark_white_back, $dark_link_color, 90%);
                            box-shadow: 0 0 0 3px mix($dark_white_back, $dark_link_color, 90%), 0 0 0 4px mix($dark_white_back, $dark_link_color, 70%);
                        }

                    }
                }
            }

        }

        .comments_toggle_btn {
            &.locked {
                cursor: default;
                text-decoration: none;
            }
        }
    }

    .submission_liker {
        margin-top: 20px;
        position: relative;

        @include display_flex;
        @include justify_content;
        @include align_items;

        > button {
            text-decoration: none;
            font-size: 18px;
            color: body_color_lighter();
            display: inline-block;
            vertical-align: top;
            line-height: 18px;
            background: none;
            border: 0;
            display: block;
            cursor: pointer;
            font-size: inherit;

            &.loading {
                opacity: 0.5;
                cursor: default;
            }

            > * {
                display: block;
            }

            &.liked {
                color: like_color();
            }
        }

        .likes_count {
            @include transition(all 0.2s ease);
            color: body_color_light();
            border-radius: 4px;
            padding: 0 4px;
            margin-left: 3px;
            line-height: 18px;
            text-decoration: none;

            &:hover {
                color: like_color();
            }
        }
    }

    .quick_comment_widget {
        position: absolute;
        background: white_back();
        border: 1px solid border_color();
        padding: 10px;
        top: 100%;
        left: 0;
        margin-top: 10px;
        z-index: 100;
        box-shadow: 0 0 10px rgba(black, 0.1);
        border-radius: 2px;
        width: 100vw;
        text-align: left;
        max-width: 300px;

        .close_button {
            float: right;
            border: 0;
            background: 0;
            font-size: 18px;
            cursor: pointer;
            margin-top: -5px;
            margin-right: -5px;
            color: body_color_lighter();
            &:hover {
                color: body_color_light();
            }
        }

        h3 {
            font-size: 18px;
        }

        .markdown_editor {
            textarea {
                min-height: 60px;
                font-size: 14px;
            }
        }

        p {
            font-size: $body_size_small;
            color: body_color_light();
            line-height: 1.2;
            margin: 5px 0;
        }
    }

    .list_loader {
        text-align: center;
        background: var(--sc-gray_back50);
        padding: 10px 20px;
        border: 1px solid border_color();
        color: body_color_light();
        cursor: default;
    }


    .responsive & {
        @media (max-width: $site_width) {
            width: auto;
        }

        @media (max-width: $narrow_width) {
            width: auto;

            .submission_row {
                font-size: 16px;

                .submission_content {
                    margin-left: 0;
                }

                .submission_title {
                    margin-right: 0;
                }

                .submission_summary {
                    font-size: 16px;
                }

                .submission_meta {
                    font-size: 14px;
                    position: static;
                    margin-top: 15px;
                }

                .submission_header {
                    .streak_title_group {
                        white-space: normal;
                    }
                }

                .user_column {
                    width: auto;
                    text-align: left;
                    position: static;
                    @include display_flex;
                    @include align_items;
                    margin-bottom: 10px;

                    .user_link {
                        @include display_flex;
                        @include align_items;
                        @include flex;
                        > img {
                            vertical-align: top;
                            width: 30px;
                            height: 30px;
                            margin: 0;

                        }
                    }

                    .user_name {
                        margin-left: 10px;
                        font-size: 18px;
                    }

                    .submission_liker {
                        margin: 0;
                        font-size: 16px;
                        > button {
                            padding: 6px;
                        }

                        > :first-child {
                            @include prefixed(order, 1);
                        }
                    }
                }

                .submission_upload {
                    @include single_line;
                    .upload_stats {
                        display: none;
                    }
                }
            }
        }
    }
}
