
.user_profile_page {
    .columns {
        max-width: $site_width;
        @include display_flex;
    }


    .submission_column {
        @include flex;
    }

    .streak_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;

        h2 {
            margin-bottom: 35px;
        }
    }

    .user_links {
        margin-bottom: 10px;

        img {
            height: 15px;
            opacity: 0.5;
            vertical-align: -2px;
            display: inline-block;
            margin-right: 5px;
        }

        > span {
            margin-right: 15px;
        }
    }

    .user_bio {
        background: white;
        border: 1px solid $border_color;
        padding: 20px;
        border-radius: 3px;
    }


}
