
.user_header {
    .header_right {
        float: right;
        margin-top: 15px;
    }

    .user_stat {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
