

.user_list {
    &.narrow {
        .user_data {
            margin-left: 0;

            .user_name {
                font-size: $body_size;
                @include single_line;

                a {
                    font-weight: bold;
                }
            }
        }

        .data_action_split {
            display: block;
            margin-left: 10px;

            > .button {
                display: block;
                margin-top: 10px;
            }
        }
    }

    .user_row {
        @include transition(all 0.2s ease);
        position: relative;
        margin-bottom: 20px;
        @include display_flex;
        @include align_items;

        @include mobile_width {
            @include align_items(flex-start);
        }


        &:last-child {
            margin-bottom: 0;
        }
    }


    .data_action_split {
        margin-left: 30px;
        @include flex;
        @include display_flex;

        @include mobile_width {
            display: block;
            margin-left: 10px;

            > .button {
                display: block;
                margin-top: 10px;
            }
        }
    }

    .user_avatar {
        border-radius: 80px;
        width: 80px;
        height: 80px;
        background: $gray_back;

        @include mobile_width {
            margin-top: 5px;
            width: 40px;
            height: 40px;
        }
    }

    .user_data {
        @include has_sub_link;
        @include flex;

        @include mobile_width {
            font-size: 16px;
        }

        .user_name {
            font-size: 24px;
            a {
                font-weight: bold;
            }

            @include mobile_width {
                font-size: 18px;
            }
        }

        .user_stats {
            margin-top: 10px;
        }

        .user_stat {
            color: $body_color_light;
            display: inline-block;

            @include mobile_width {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }

            &:before {
                content: " · ";
                color: body_color_lighter();

                @include mobile_width {
                    display: none;
                }
            }

            &:first-child {
                &:before {
                    content: none;
                }
            }
        }
    }
}

.responsive_column > .user_list {
    .user_row {
        background: white;
        padding: 20px;
        @include mobile_width {
            padding: 10px;
        }
    }
}
