
.user_header {
    .user_summary {
      margin-top: 3px;
      color: $body_color_light;
      font-size: 20px;
    }

    .header_split {
        @include display_flex;

        > :first-child {
            @include flex;
        }

        @include mobile_width {
            display: block;
            .toggle_follow_btn {
                display: block;
                margin: 20px 0;
            }
        }

    }

    .user_stat {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}
