
.user_header {
    .user_stats {
        margin-top: 3px;
        color: body_color_light();
        font-size: 20px;

        display: flex;
        flex-wrap: wrap;
        gap: 1px 15px;

        @include mobile_width {
            gap: 1px 5px;
            font-size: 16px;
        }
    }

    .header_split {
        @include display_flex;

        > :first-child {
            @include flex;
        }

        @include mobile_width {
            flex-direction: column;
            gap: 10px;
        }

    }
}
