
.user_profile_page {
    .columns {
        max-width: var(--sc-site_width);
        display: flex;
        @include mobile_width {
            display: block;
        }
    }


    .submission_column {
        flex: 1;

        @include mobile_width {
            & > h3 {
                font-size: 18px;
                margin: 20px 0;
            }

            .submission_list {
                margin-top: 20px;
            }
        }
    }

    .streak_column {
        box-sizing: border-box;
        width: calc(var(--sc-site_width) - 700px);
        padding-left: 20px;

        h2 {
            margin-bottom: 35px;
        }

        @media (max-width: 900px) {
            display: none;
        }
    }

    .user_links {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;

        &:empty {
            display: none;
        }

        > * {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }

        img {
            height: 15px;
            opacity: 0.5;
            vertical-align: -2px;
            display: inline-block;
            margin-right: 5px;
        }

        > span {
            margin-right: 15px;
        }
    }

    .user_bio {
        background: white_back();
        border: 1px solid border_color();
        padding: 20px;
        border-radius: 3px;
    }


    .suspended_notice {
        background: var(--sc-red);
        color: white;
        padding: 10px;
        border-radius: 3px;
        font-size: 120%;
        margin-bottom: 20px;

        a {
            color: inherit;
        }
    }

}
