
.user_profile_page {
    .sidebar_streak_list {
        .streak_units a {
            &:nth-child(11n) {
                .streak_unit {
                    margin-right: 0;
                }
            }
        }

    }

    .header_right {
        float: right;
        margin-top: 2px;
    }

    .columns {
        font-size: 0;
    }

    .streak_column, .submission_column {
        display: inline-block;
        vertical-align: top;
        font-size: $body_size;
    }

    .submission_column {
        width: 700px;
    }

    .streak_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;

        h2 {
            margin-bottom: 35px;
        }
    }

    .user_links {
        margin-bottom: 10px;

        img {
            height: 15px;
            opacity: 0.5;
            vertical-align: -2px;
            display: inline-block;
            margin-right: 5px;
        }

        > span {
            margin-right: 15px;
        }
    }

    .user_bio {
        background: white;
        border: 1px solid $border_color;
        padding: 20px;
        border-radius: 3px;
    }


}
