
.user_list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.narrow {
        gap: 10px;

        .user_data {
            gap: 5px;

            .user_name {
                font-size: var(--sc-body_size);
                @include single_line;

                a {
                    font-weight: bold;
                }
            }
        }

        .data_action_split {
            display: block;

            > .button {
                display: block;
                margin-top: 10px;
            }
        }

        .user_row {
            gap: 10px;
        }
    }

    .user_row {
        transition: all 0.2s ease;
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;

        @include mobile_width {
            gap: 10px;
            align-items: flex-start;
        }
    }

    .data_action_split {
        flex: 1;
        display: flex;
        gap: 10px;

        @include mobile_width {
            flex-direction: column;
        }
    }

    .user_avatar {
        border-radius: 80px;
        width: 80px;
        height: 80px;
        background: gray_back();

        @include mobile_width {
            margin-top: 5px;
            width: 40px;
            height: 40px;
        }
    }

    .user_data {
        @include has_sub_link;
        flex: 1;
        gap: 15px;
        display: flex;
        flex-direction: column;

        @include mobile_width {
            font-size: 16px;
            gap: 8px;
        }

        .user_name {
            font-size: 24px;
            a {
                font-weight: bold;
            }

            @include mobile_width {
                font-size: 18px;
            }
        }

        .user_stats {
            display: flex;
            flex-wrap: wrap;
            gap: 1px 15px;
        }

        .user_stat {
            color: body_color_light();
        }
    }
}

.responsive_column > .user_list {
    .user_row {
        background: white_back();
        padding: 20px;
        @include mobile_width {
            padding: 10px;
        }
    }
}
