.view_submission_page {
    .admin_tools {
        @include mobile_width {
            display: none;
        }
    }

    .owner_tools, .moderator_tools {
        margin-bottom: 20px;
    }

    .submission_list {
        margin-top: 0;
    }

    .responsive_column {
        margin-top: 40px;

        @include mobile_width {
            margin-top: 20px;
        }
    }

    .submission_column, .streaks_column {
        display: inline-block;
        vertical-align: top;
    }

    .streaks_column {
        box-sizing: border-box;
        width: calc(var(--sc-site_width) - 700px);
        padding-left: 20px;
        padding-bottom: 60px;

        h2 {
            margin-top: 0;
        }
    }

    .admin_tools {
        textarea {
            height: 200px;
        }
    }

    @media (max-width: var(--sc-site_width)) {
        .submission_column, .streaks_column {
            width: auto;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .streaks_column {
            padding-left: 0;
            margin: 50px auto 0 auto;
        }
    }

    .other_submissions {
        h2 {
            color: body_color_light();
            font-weight: normal;
            @include has_sub_link;
            margin: 80px 0 40px 0;
        }
    }
}
