
.view_streak {
    .submission_list_title {
        color: #666;
        margin-top: 40px;
    }

    .embed_page & {
        .submission_list_title {
            display: none;
        }

        .submission_list {
            margin-top: 0;
        }
    }

    .embed_footer {
        height: $header_height;
        z-index: 10;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: $header_color;
        color: white;
        line-height: $header_height;

        .logo_image, .header_button {
            display: inline-block;
            vertical-align: top;
        }

        .header_button {
            margin-top: 10px;
        }
    }

    .draft_banner, .hidden_banner {
        display: block;
        background: lighten($error_color, 10%);
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        margin-bottom: 20px;
    }

    .hidden_banner {
        background: lighten($green, 10%);
        color: desaturate(darken($green, 40%), 20%);
    }

    .streak_units {
        margin-top: 20px;

        .streak_unit {
            width: 18px;
            height: 18px;
            line-height: 18px;
        }

        a {
            &:nth-child(11n) {
                .streak_unit {
                    margin-right: 0;
                }
            }
        }
    }

    .columns {
        font-size: 0;
    }

    .streak_feed_column, .streak_side_column {
        display: inline-block;
        vertical-align: top;
        font-size: $body_size;
    }

    .streak_feed_column {
        width: 700px;
    }

    .streak_side_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;
        padding-bottom: 60px;

        .button {
            display: block;
            width: 100%;
        }
    }

    .submit_sub {
        color: #666;
        font-size: 16px;
        margin: 4px 0 0 0;
        text-align: center;
    }

    .date_summary {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .countdown {
        margin-bottom: 20px;
    }

    .leave_form {
        display: block;
        margin-top: 20px;
    }

    .streak_summary {
        font-size: 14px;
        font-weight: bold;
        color: #666;
        margin-top: 15px;
        text-align: center;

        .stat {
            margin-left: 10px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }


    @media (max-width: $site_width) {
        width: auto;
        margin: 20px;

        .streak_feed_column, .streak_side_column {
            width: auto;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .columns {
            display: -webkit-flex;
            display: flex;
            @include prefixed(flex-direction, column);
        }

        .streak_feed_column {
            @include prefixed(order, 2);
        }

        .streak_side_column {
            @include prefixed(order, 1);
        }

        .streak_units a {
            &:nth-child(11n) {
                margin-right: 4px;
            }
        }
    }
}
