
.view_streak_page {
    &:not(.current_user_joined) {
        .countdown {
            @include mobile_width {
                display: none;
            }
        }
    }

    .streak_description {
        background: white;
        border: 1px solid $border_color;
        padding: 20px;
        border-radius: 3px;

        .click_to_open_overlay {
            display: none;
        }

        @include mobile_width {
            &:not(.description_unrolled) {
                max-height: 120px;
                overflow: hidden;
                position: relative;

                .click_to_open_overlay {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    cursor: pointer;

                    &:before {
                        content: "View more";
                        font-size: $body_size_small;
                        font-weight: bold;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        color: $body_color_light;
                        padding-bottom: 10px;
                        box-sizing: border-box;
                        text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;

                        height: 100%;
                        max-height: 60px;

                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        background: linear-gradient(to bottom, rgba(white, 0), white 80%, white);
                    }
                }
            }
        }
    }

    .admin_tools {
        @include mobile_width {
            display: none;
        }
    }

    .submission_list_title {
        color: $body_color_light;
        margin-top: 40px;

        .sub {
            font-weight: normal;
            color: $body_color_lighter;
        }
    }

    .embed_page & {
        .submission_list_title {
            display: none;
        }

        .submission_list {
            margin-top: 10px;
        }
    }

    .embed_footer {
        height: $header_height;
        z-index: 10;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: $header_color;
        color: white;
        line-height: $header_height;

        .logo_image, .header_button {
            display: inline-block;
            vertical-align: top;
        }

        .header_button {
            margin-top: 10px;
        }
    }


    .pending_join_banner {
        background: $orange;
        color: white;
        padding: 15px 20px;
        color: white;
        margin-bottom: 40px;
    }

    .streak_units {
        margin-top: 20px;

        @include mobile_width {
            display: none;
        }
    }

    .columns {
        @include display_flex;
    }

    .streak_feed_column {
        @include flex;
    }

    .streak_side_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;
        padding-bottom: 60px;

        @include mobile_width {
            padding-bottom: 0;
            margin-bottom: 20px;
        }

        .button {
            display: block;
            width: 100%;
        }
    }

    .submit_sub {
        color: #666;
        font-size: 16px;
        margin: 4px 0 0 0;
        text-align: center;
    }

    .date_summary {
        color: #666;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .countdown {
        margin-bottom: 20px;
    }

    .leave_form {
        display: block;
        margin-top: 20px;
    }

    .streak_summary {
        font-size: 14px;
        font-weight: bold;
        color: #666;
        margin-top: 15px;
        text-align: center;

        .stat {
            margin-left: 10px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .members_only_message {
        color: $body_color_light;
        margin-top: 10px;
    }


    @media (max-width: $site_width) {
        .streak_feed_column, .streak_side_column {
            width: auto;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .columns {
            display: -webkit-flex;
            display: flex;
            @include prefixed(flex-direction, column);
        }

        .streak_feed_column {
            @include prefixed(order, 2);
        }

        .streak_side_column {
            @include prefixed(order, 1);
        }
    }

    .misc_links {
        padding: 0;
        list-style: none;
        font-size: 16px;
        a {
            color: #999;
        }

        @include mobile_width {
            display: none;
        }
    }

    .streak_host {
        @include mobile_width {
            display: none;
        }
    }

    .streak_side_column .community_preview {
        .topic_title {
            font-size: $body_size;
            margin-bottom: 2px;
        }

        .topic_sub {
            font-size: $body_size_small;
            color: $body_color_light;
            a {
                color: inherit;
            }
        }
        .topic_row {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .discuss_links {
            margin: 1em 0 0 0;
        }
    }
}
