

.view_submission {
    .submission_list {
        margin-top: 0;
    }

    .submission_column, .streaks_column {
        display: inline-block;
        vertical-align: top;
    }

    .streaks_column {
        @include border_box;
        width: $site_width - 700px;
        padding-left: 20px;
        padding-bottom: 60px;

        h2 {
            margin-top: 0;
        }
    }

    .admin_tools {
        textarea {
            height: 200px;
        }
    }

    @media (max-width: $site_width) {
        .submission_column, .streaks_column {
            width: auto;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }

        .streaks_column {
            padding-left: 0;
            margin: 50px auto 0 auto;
        }
    }

}
