.welcome_banner {
    @include border_box;
    position: relative;
    background: purple();
    color: white;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.21);

    .banner_inner {
        max-width: $site_width;
        padding: 20px;
        margin: 0 auto;
        position: relative;

        @include display_flex;

        > .banner_text {
            @include flex;
        }

        @include mobile_width {
            @include flex_direction_column;
        }
    }

    p {
        margin: 0;
        color: rgba(white, 0.7);
    }

    h2 {
        margin: 0;
        font-size: 27px;
        font-weight: bold;
        @include mobile_width {
            font-size: 20px;
        }
    }

    .button {
        font-size: 20px;
        line-height: 41px - 4px;

        height: 41px;
        padding: 0 40px;


        background: transparent !important;
        color: white !important;
        border-color: white !important;

        &:hover {
            background-color: white !important;
            color: link_color() !important;
        }

        @include mobile_width {
            margin-top: 20px;
            height: 35px;
            line-height: 30px;
        }
    }
}

