.welcome_banner {
    @include border_box;
    position: relative;
    background: $purple;
    color: white;
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.21);

    .banner_inner {
        max-width: $site_width;
        padding: 20px;
        margin: 0 auto;
        position: relative;
    }

    p {
        margin: 0;
        color: rgba(white, 0.7);
    }

    h2 {
        margin: 0;
        font-size: 27px;
        font-weight: bold;
    }

    .button {
        top: 31px;
        right: 20px;
        position: absolute;
        font-size: 20px;
        line-height: 41px - 4px;
        height: 41px;
        padding: 0 40px;

        background: transparent;
        color: white;
        border-color: white;

        &:hover {
            background-color: white;
            color: $link_color;
            border-color: white;
        }
    }

    @media (max-width: 700px) {
        .button {
            position: static;
            display: inline-block;
            margin-top: 20px;
        }
    }
}

